.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* width: 100%; */
  box-sizing: border-box;
  overflow: hidden;
  background-image: url("../../src/Assets/Images/bg3.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
  height: 98vh;
}

.s1 {
  flex: 1;
  max-width: 400px;
  padding: 15px;
  box-sizing: border-box;
  /* border: 2px solid black; */
  margin: 83px 34px 56px 25px;
}

.s2 {
  flex: 1; /* Expand to take available space */
  max-width: 600px; /* Limit maximum width */
}

.image-container {
  position: relative;
  width: 400px; /* Set the appropriate width */
  height: 400px; /* Set the appropriate height */
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.2s ease; /* Smooth transition */
  background-image: url("../../src/Assets/Images/hidevmo.png"); /* Set the initial image */
}

.image:hover {
  background-image: url("../../src/Assets/Images/hidev.png"); /* Set the new image on hover */
}

.smbtn {
  outline: none;
  background-color: #2f54ff;
  color: white;
  width: 75px;
  padding: 5px;
  font-size: 17px;
  text-align: center;
  margin: 5px;
  border-radius: 10px;
  border: none;
  font-family: cursive;
}

.smbtn:hover {
  background-color: rgb(46, 225, 18);
}

@media screen and (max-width: 768px) {
  .home {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    height: auto;
  }

  .s1,
  .s2 {
    max-width: none; /* Reset max-width */
    width: 100%; /* Take the entire width of the screen */
    margin: 0px;
  }
}
